*{
padding: 0;
box-sizing: border-box;
margin: 0;
}
body{
    background-color: rgb(199, 199, 199);
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-color: #1e293b;
    color: white;
    text-align: center;
    padding: 30px;
}
.nav{
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #334155;
    padding: 15px;
}
.nav a{
color: white;
text-decoration: none;
font-weight: bold;
}
.main{
    padding: 30px;
}
.seccion{
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(31, 31, 31, 0.527);
}
.contenedor{
    background-color: rgba(213, 213, 219, 0.788);
    height: 200px;
    border: 3px dashed #94a3b8;
    margin-top: 20px;
    display: flex;
}
.caja{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: rgb(179, 25, 179);
    color: white;
    border-radius: 10px;
}
.ejemplo1{
    justify-content: center;
    gap: 20px;
}
.ejemplo2{
    align-items: center;
    gap: 20px;
}
.ejemplo3{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.ejemplo4{
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.ejemplo5{
    justify-content: center;
    align-items: center;
}