*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

h1{
   text-align: center;
   margin: 20px 0;
}

.azul{
   width: 150px;
   height: 150px;
   background-color: #008DD2;
   margin: 0 auto;
}

.rojo{
   width: 150px;
   height: 150px;
   background-color: #EE433A;
   margin: 0 auto;
}

.verde{
   width: 150px;
   height: 150px;
   background-color: #00C56A;
   margin: 0 auto;
}

.morado{
   width: 150px;
   height: 150px;
   background-color: purple;
   margin: 0 auto;
}

.amarillo{
   width: 150px;
   height: 150px;
   background-color: yellow;
   margin: 0 auto;
}

.negro{
   width: 150px;
   height: 150px;
   background-color: black;
   margin: 0 auto;
}

.centrado {
   text-align: center
}

.encabezado {
   padding: 40px;
}

.centrado-a{
   text-decoration: none;
   font-weight: bold;
}

.titulo{
   margin-bottom: 20px;
}

.caja{
   padding: 20px;
}

.container {
   width: 950px;
   margin: 0 auto;
}